@import "_normalize.scss",
"_variables.scss",
"_colors.scss",
"_fonts.scss";

body {
  color: $primary;
  font-family: 'Lato', 'sans-serif';
}

* {
  box-sizing: border-box;
}

a {
  color: $primary;
  text-decoration: none;
}

h1, h2 ,h3 ,h4 ,h5 ,h6 {
  font-family: 'Baloo 2', 'sans-serif';
}

.page-container {
  margin: auto;
  max-width: 1200px;

  &.home main {
    margin: 0 auto;

    @media #{$desktop} {
      max-width: 800px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    @media #{$tablet} {
      max-width: 600px;
    }
  }
}

@mixin ease($duration: 200) {
    transition: all $duration*1ms ease-in;
}

@mixin shadow($size: 10) {
  box-shadow: 0px 0px $size*1px 0px rgba(0,0,0,0.10);
}

.button {
    background-color: #8FCDC1;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    @include ease();

    &:hover {
        opacity: 0.8;
    }

    img {
        width: 30px;
        height: 30px;
        filter:
          invert(97%)
          sepia(41%)
          saturate(2%)
          hue-rotate(194deg)
          brightness(111%)
          contrast(100%);
      }
}