@import "_normalize.scss",
"_variables.scss",
"_colors.scss",
"_fonts.scss";

body {
    color: $primary;
    font-family: 'Lato', 'sans-serif';
}

* {
    box-sizing: border-box;
}

a {
    color: $primary;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Baloo 2', 'sans-serif';
}

.page-container {
    margin: auto;
    max-width: 1200px;
}
